<!DOCTYPE html>
<html lang="en_US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store Manager | Overall sales record</title>
    <link rel ="stylesheet" href = '../static/css/stylesmain.css'>
    <link rel="shortcut icon" href="../static/images/store_manager_logo.ico"/>
  </head>
  <body>    
    <div class = "top-bar-div">
      <div class = "logo-div">
        <a href ="index.html"><img src = "../static/images/store_manager_logo.jpg"></a>
        <a href ="index.html"><h2><span>Store</span>Manager</h2></a>
      </div>
      <div class = "top-center-div">
        <h3 id = "page-label">Logged in as Admin</h3>
      </div>
      <div class = "top-right-div">
        <a href = "readme.html">&#63;</a>
        <a href = "index.html">Sign Out</a>
      </div>
    </div>
    <div class = "body-others-div">
        <div class = "menu-div">   
            <div class ="menu-item-div">
                <a href="admin_profile.html"><h3>Profile</h3></a>  
            </div>           
            <div class ="menu-item-div">
                <a href="admin_inventory.html"><h3>Inventory</h3></a>
            </div>            
            <div class ="current-menu-item-div">
                <a href="admin_sales_record.html"><h3>View Sales Record</h3></a>
            </div>
            <div class ="menu-item-div">
                <a href="admin_user_accounts.html"><h3>Attendants</h3></a>
            </div>
        </div>        
        <div class = "detail-div">
            <div class ="data-div">
                <div id = "form-div" class="form-div">
                    <h2 class = "form-heading">SALES RECORD FOR ALL ATTENDANTS</h2>
                    <br>
                    
                    <h4>Start Date:...............</h4>
                    <h4>End Date:.................</h4>
                    <h4>Duration:..................</h4>
                    <br>  
                    <br>                  
                    <table id = 'all-sales-table' class = "table1">
                                                         
                    </table>
                    <br>
                    <br>
                    <p>Total Records: <span class = "totals1" id="total-records"> 0</span></p>
                    <br>
                    <p>Total Items sold: <span class = "totals1" id="total-products"> 0</span></p>
                    <br>
                    <p>Total Amount Generated: <span class = "totals2" id="total-revenue"> 0.00</span></p>
                    <br>
                    <button class= "button1">Print</button>
                    <button class= "button1">E-mail</button>
                    <br>
                    <br>
                </div>
            </div>
            <div class ="tagline-div">
            <p data-id = 'id2' class = "tagline" >All your business records in one place!</p>
            </div>
        </div>  
    </div>
    <div class = "footer-div">
        <div class ="developer-div">
            <p class = "footer-text">Developed and distributed by: Andela, Uganda, Kampala</p>            
        </div>
        <div class ="copyright-div">                 
            <p class = "footer-text">All rights reserved.&copy; Andela 2018</p>          
        </div>        
    </div>
    <script src="../static/js/admin_all_sales.js"></script>    
  </body>
</html>
