<!DOCTYPE html>
<html lang="en_US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Store Manager | Inventory Record</title>
    <link rel ="stylesheet" href = '../static/css/stylesmain.css'>
    <link rel="shortcut icon" href="../static/images/store_manager_logo.ico"/>
  </head>
  <body>    
    <div class = "top-bar-div">
      <div class = "logo-div">
        <a href ="index.html"><img src = "../static/images/store_manager_logo.jpg"></a>
        <a href ="index.html"><h2><span>Store</span>Manager</h2></a>
      </div>
      <div class = "top-center-div">
        <h3 id = "page-label">Logged in as Admin</h3>
      </div>
      <div class = "top-right-div">
        <a href = "readme.html">&#63;</a>
        <a href = "index.html">Sign Out</a>
      </div>
    </div>
    <div class = "body-others-div">
        <div class = "menu-div">  
            <div class ="menu-item-div">
                <a href="profile.html"><h3>Profile</h3></a> 
            </div>                   
            <div class ="menu-item-div">
                <a href="admin_inventory.html"><h3>Inventory Record</h3></a>
            </div>           
            <div class ="menu-item-div">
                <a href="admin_sales_record.html"><h3>View Sales Record</h3></a>
            </div>
            <div class ="current-menu-item-div">
                <a href="admin_user_accounts.html"><h3>Attendants</h3></a>
            </div>
        </div>                
        <div class = "detail-div">
            <div class ="data-div">
                <div class="form-div">
                    <h2 class = "form-heading">ADD/EDIT PRODUCT</h2>
                    <br>
                    <br>
                    <form class ="detail-entry-form" action="admin_inventory.html">
                        <label for="product-category">Product Category:</label><br> 
                        <input class = "input1" type="text" name="product-category" placeholder="Product Category"><br>
                        <br>
                        <label for="product-name">Product Name:</label><br> 
                        <input class = "input1" type="text" name="product-name" placeholder="Product Name"><br>
                        <br>
                        <label for="quantity-in-stock">Quantity in Stock:</label><br>  
                        <input class = "input1" type="text" name="quantity-in-stock" placeholder="Quantity in Stock"><br>
                        <br>
                        <label for="unit-of-measure">Unit of Measure:</label><br>
                        <input class = "input1" type="text" name="unit-of-measure" placeholder="Unit of Measure"><br>
                        <br>
                        <label for="unit-price">Unit Price:</label><br>
                        <input class = "input1" type="text" name="unit-price" placeholder="Unit Price"><br>
                        <br>   
                        <br>           
                        <input class = "button2" type="submit" value="Create/Modify">
                        <br>
                        <br>
                        <br>
                        <input class = "delete-button" type="submit" value="Delete Product!">
                        <br>
                        <br>
                    </form>
                   
                </div>
            </div>
            <div class ="tagline-div">
            <p class = "tagline">All your business records in one place!</p>
            </div>
        </div>  
    </div>
    <div class = "footer-div">
      <div class ="copyright-div">          
          <p class = "footer-text">Developed and distributed by: Andela, Uganda, Kampala</p>
          <p class = "footer-text">All rights reserved.</p>
          <p class = "footer-text">&copy; Andela 2018</p>
      </div>
      <div class ="developer-div">
      
      </div>
    </div>
      
    
  </body>
</html>
