<!DOCTYPE html>
<html lang="en_US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Store Manager | Login</title>
    <link rel ="stylesheet" href = '../static/css/stylesmain.css'>
    <link rel="shortcut icon" href="../static/images/store_manager_logo.ico"/>
  </head>
  <body>    
    <div class = "top-bar-div">
      <div class = "logo-div">
        <a href ="index.html"><img src = "../static/images/store_manager_logo.jpg"></a>
        <a href ="index.html"><h2><span>Store</span>Manager</h2></a>
      </div>
      <div class = "top-right-div">
        <a href = "readme.html">&#63;</a>    
      </div>
    </div>
    <div class = "body-main-div">        
        <div class = "detail-div">
            <div class ="data-div">
                <div class="form-div">
                    <h2 class = "form-heading">LOG IN</h2>
                    <form class ="detail-entry-form" action="inventory.html">
                        <input class = "input1" type="text" name="username" placeholder="Enter Username"><br>
                        <br>
                        <input class = "input1" type="text" name="password" placeholder="Enter Password"><br>
                        <br>                  
                        <input type="checkbox" onclick="loginCheckBox()">Login as Admin
                        <br>
                        <br>
                        <br>
                        <input class = "button1" type="submit" value="login">
                        <br>
                        <br>
                    </form>                   
                    <br>
                    <br>
                </div>
            </div>
            <div class ="tagline-div">
            <p class = "tagline">All your business records in one place!</p>
            </div>
        </div>  
    </div>
    <div class = "footer-div">
      <div class ="copyright-div">          
          <p class = "footer-text">Developed and distributed by: Andela, Uganda, Kampala</p>
          <p class = "footer-text">All rights reserved.</p>
          <p class = "footer-text">&copy; Andela 2018</p>
      </div>
      <div class ="developer-div">
      
      </div>
    </div>
      
    <script src="../static/js/myFunctions.js"></script>
  </body>
</html>
