<!DOCTYPE html>
<html lang="en_US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store Manager | Shopping Cart</title>
    <link rel ="stylesheet" href = '../static/css/stylesmain.css'>
    <link rel="shortcut icon" href="../static/images/store_manager_logo.ico"/>
  </head>
  <body>    
    <div class = "top-bar-div">
      <div class = "logo-div">
        <a href ="index.html"><img src = "../static/images/store_manager_logo.jpg"></a>
        <a href ="index.html"><h2><span>Store</span>Manager</h2></a>
      </div>
      <div class = "top-center-div">
        <h3 id = "page-label">Logged in as Attendant</h3>
      </div>
      <div class = "top-right-div">
        <a href = "readme.html">&#63;</a>
        <a href = "index.html">Sign Out</a>
      </div>
    </div>
    <div class = "body-others-div">
        <div class = "menu-div">
            <div class ="menu-item-div">
                <a href="profile.html"><h3>Profile</h3></a>
            </div>
            <div class ="menu-item-div">
                <a href="inventory.html"><h3>Inventory</h3></a>
            </div>
            <div class ="current-menu-item-div">
                <a href="create_sale.html"><h3>Create Sale</h3></a>
            </div>
            <div class ="menu-item-div">
                <a href="individual_record.html"><h3>View Sales Record</h3></a>
            </div>
            
        </div>            
        <div class = "detail-div">
            <div class ="data-div">
                <div class="form-div">
                    <h2 class = "form-heading">ITEMS IN CART</h2>
                    <br>
                    <table id ='shopping-cart-table' class = "table1">                        
                    </table>
                    <br>
                    <br>
                    <p>Total Price: <span class ="totals2"id="total-price"> 400.00</span></p>
                    <br>
                    <br>
                    <button class = "button2" id = "create-record">Create Sale Record</button>
                    <button class = "button2" id = "add-more-items">Add more items</button>
                    <button class = "button2" id = "empty-cart">Empty cart</button>                    
                    <br>
                    <h3 id = 'sale-response'></h3>
                    <br>
                    <p id="id-tag"></p>
                    <br>
                    <p id='name-tag'></p>
                    <br>                    
                    <br>
                    <a id='exit-sale' href = "inventory.html"></a>
                    <br>
                </div>
            </div>
            <div class ="tagline-div">
            <p class = "tagline">All your business records in one place!</p>
            </div>
        </div>  
    </div>
    <div class = "footer-div">
        <div class ="developer-div">
            <p class = "footer-text">Developed and distributed by: Andela, Uganda, Kampala</p>            
        </div>
        <div class ="copyright-div">                 
            <p class = "footer-text">All rights reserved.&copy; Andela 2018</p>          
        </div>        
    </div>
    <script src="../static/js/shopping_cart.js"></script>     
  </body>
</html>
