<!DOCTYPE html>
<html lang="en_US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Store Manager | Logged in as user</title>
    <link rel ="stylesheet" href = '../static/css/stylesmain.css'>
    <link rel="shortcut icon" href="../static/images/store_manager_logo.ico"/>
  </head>
  <body>    
    <div class = "top-bar-div">
      <div class = "logo-div">
        <a href ="index.html"><img src = "../static/images/store_manager_logo.jpg"></a>
        <a href ="index.html"><h2><span>Store</span>Manager</h2></a>
      </div>
      <div class = "top-center-div">
        <h3 id = "page-label">Logged in as user</h3>
      </div>
      <div class = "top-right-div">
        <a href = "readme.html"><h2>&#63;</h2></a>
      </div>
    </div>
    <div class = "body-main-div">
        
        <div class = "detail-div">
            <div class ="data-div">
                <div class="form-div">
                    <h2 class = "form-heading">ITEMS IN CART</h2>
                    <br>
                    <table class = "shopping-cart">
                        <tr>
                            <th>No.</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td id = "item-no">1.</td>
                            <td id = "item-name">Item 1</td>
                            <td id = "item-quantity"> 5 </td>
                            <td id = "item-amount">100</td>
                            <td><button class= "button1">Remove</button></td>                            
                        </tr>
                        <tr>
                            <td id = "item-no">1.</td>
                            <td id = "item-name">Item 2</td>
                            <td id = "item-quantity"> 4 </td>
                            <td id = "item-amount">100</td>
                            <td><button class= "button1">Remove</button></td>                            
                        </tr>
                        <tr>
                            <td id = "item-no">1.</td>
                            <td id = "item-name">Item 3</td>
                            <td id = "item-quantity"> 10 </td>
                            <td id = "item-amount">100</td>
                            <td><button class= "button1">Remove</button></td>                            
                        </tr>
                        <tr>
                            <td id = "item-no">1.</td>
                            <td id = "item-name">Item 4</td>
                            <td id = "item-quantity"> 1 </td>
                            <td id = "item-amount">100</td>
                            <td><button class= "button1">Remove</button></td>                            
                        </tr>
                    </table>
                    <br>
                    <br>
                    <p>Total Price: <span id="total-price"> 400.00</span></p>
                    <br>
                    <br>
                    <input class = "button2" type="submit" value="Create Sale Record">
                    <input class = "button2" type="submit" value="Add more items">
                    <input class = "button2" type="submit" value="Empty cart">
                    <br>
                    <br>
                </div>
            </div>
            <div class ="tagline-div">
            <p class = "tagline">All your business records in one place!</p>
            </div>
        </div>  
    </div>
    <div class = "footer-div">
      <div class ="copyright-div">          
          <p class = "footer-text">Developed and distributed by: Andela, Uganda, Kampala</p>
          <p class = "footer-text">All rights reserved.</p>
          <p class = "footer-text">&copy; Andela 2018</p>
      </div>
      <div class ="developer-div">
      
      </div>
    </div>
      
    
  </body>
</html>
