*{
    margin: 0px;
    padding: 0px;
}

.top-bar-div {
    width:100%;
    display:flex;
    min-height: 50px;
    background-color:black;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo-div {
    width:auto;        
}
.logo-div a{
    text-decoration: none;
}
.logo-div  h2{
    margin-top: 20px;
    margin-left: 120px;
    color:white;
    font-weight: 100;
}
.logo-div img{
    float:left;
    width: 60px;
    margin-top: 10px;   
}
.logo-div  h2  span{
    color:orangered;
        
}
.top-center-div{
    width:auto;
    text-align: center;
}
.top-right-div {
    width:auto;   
    
}
.top-right-div a{
    text-decoration: none;   
    margin-right: 15px;
    color:white;
    float:right;
    margin-top:26px;
    
}

.body-main-div {
    width: 100%;
    display:flex;
    min-height: 600px;
    justify-content: space-around;
    background-color:#EAEDED;
}
.body-others-div {
    width: 100%;
    display:flex;
    min-height: 600px;
    justify-content: space-between;
    background-color:#EAEDED;
}
.menu-div {
    flex-basis: 20%;
    background-color: brown;    

}
.detail-div {
    flex-basis: 80%;
    display:flex;
    flex-direction: column; 
        
}
.data-div {
    flex-basis: 80%;
    text-align: center;
   
}
.form-div{
    margin-top:120px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: orangered;
}
.tagline-div {
    flex-basis: 20%;
    text-align: center;   

}
.footer-div {
    widows: 100%;
    display: flex;
    min-height: 100px;
    border-top-color: orangered;
    border-top-style: solid;
    border-top-width: 1px;
    background-color:#EAEDED;
    flex-wrap:wrap;
}
.copyright-div {
    width:auto;    
}
.developer-div {
    width:auto;   
}
.tagline{
    font-family:"book antiqua";
    font-size: 1.1em;
    margin-top:20px;
    color:gray;
    margin-bottom: 10px;
   
}
.input1{
    width: 250px;
    margin: 5px;
    border-radius:5px;
    height:25px;    
}
.input2{
    width: 190px;
    margin: 5px;
    border-radius:5px;
    height:25px;    
}
.button1{
    width:70px;
    border-radius: 4px;
    height:23px;
    font-size: 1em;
    font-family:"book antiqua";
}
.button2{
    width:150px;
    border-radius: 4px;
    height:23px;
    font-size: 1em;
    font-family:"book antiqua";
}
.button2{
    min-width:50px;
    border-radius: 4px;
    height:23px;
    font-size: 1em;
    font-family:"book antiqua";
}
.detail-entry-form{
    padding: 20px;
    margin-left:40px;
    margin-right:40px;
}
.form-heading{
    margin-top:30px;
    font-size: 1.1em;
}
.footer-text{
    color:gray;
    font-size:0.8em;
}
#page-label{
    color:white;
    font-weight: 100;
    margin-top: 23px;
    margin-left:20px;
    
}
.menu-item-div{
    border-bottom-style: solid;  
    border-bottom-color: black;
    border-bottom-width: 1px;
    padding: 10px;
}
.menu-item-div a{
    text-decoration: none;
    color:black;
}
.menu-item-div:hover{
    background-color: rgb(209, 40, 18);
}
.current-menu-item-div{
    border-bottom-style: solid;  
    border-bottom-color: black;
    border-bottom-width: 1px;
    padding: 10px;
    background-color: rgb(209, 40, 18);
}
.current-menu-item-div a{
    text-decoration: none;
    color:black;
}
.totals1{
    font-size:1.5em;
    color:gray;
}
.totals2{
    font-size:1.5em;
    color:red;
    font-weight: bold;

}
.table1{
    display: inline-table;
    width:100%;
}
.table1 tr{
    height: 40px;
    background-color: pink;
}
.table1 th{
   
    background-color:black;
    color:white;
    font-weight:normal;
}

@media only screen and (max-width: 700px) {

    
    .detail-entry-form{
        padding: 20px;
        margin-left:10px;
        margin-right:10px;
    }
    .body-others-div {       
        flex-direction: column;
                     
    }
    .menu-div {
        background-color: brown;   
        display:flex;      
        
    }
    .detail-div {
        display:flex;
        flex-direction: column; 
            
    }
    .form-div{
        margin-top:70px;
        margin-left: 30px;
        margin-right: 30px;
        border-style: solid;
        border-radius: 20px;
        border-width: 1px;
        border-color: orangered;
    }
    .menu-item-div{
        width:25%;
        border-left-style: solid;  
        border-left-color: black;
        border-left-width: 1px;  
    }
    .current-menu-item-div{
        width:25%;
        border-left-style: solid;  
        border-left-color: black;
        border-left-width: 1px;  
        background-color: rgb(209, 40, 18);
    }
    
    
}

@media only screen and (max-width: 540px) {
    .top-center-div{
        order:3;
    }    
    .detail-entry-form{
        padding: 20px;
        margin-left:10px;
        margin-right:10px;
    }
    .body-others-div {       
        flex-direction: column;
                     
    }
    .menu-div {
        background-color: brown; 
        flex-wrap:wrap;  
    }
    .menu-item-div{
        width:44%;
        text-align: center;
        border-radius:10px;
        border-style: solid;  
        border-color: black;
        border-width: 1px;  
    }    
    .current-menu-item-div{
        width:44%;
        text-align: center;
        border-radius:10px;
        border-style: solid;  
        border-color: black;
        border-width: 1px;  
        background-color: rgb(209, 40, 18);
    }
    .detail-div {
        display:flex;
        flex-direction: column; 
            
    }
    .form-div{
        margin-top:70px;
        margin-left: 30px;
        margin-right: 30px;
        border-style: solid;
        border-radius: 20px;
        border-width: 1px;
        border-color: orangered;
    }
    #page-label{
        margin-top: 0px;
        margin-left:120px;
        
    }
    .menu-item-div a{
        font-size:0.8em;
    }
}